body	{ background-color: #F4F4F4; }
h1		{ font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
h2		{ font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; background-color: white; border: thin solid #CCC; padding: 1ex; }
h2 img	{ margin-right: 1ex; }
h3		{ font-family: sans-serif; font-size: medium; margin-top: 2em; }
div		{ border: thin solid black; padding: 1ex; background-color: white; margin: 1ex; display: inline-block; }
figure	{ display: inline-block; margin: 1ex; }
figcaption	{ font-size: small; font-family: sans-serif; margin-top: 1ex; text-align: center; }
img		{ height: 96px; vertical-align: middle; }
input[type=text]	{ font-size: medium; width: 30em; margin: 1em; }
input[type=radio]	{ }
form	{ display: inline; }
